@model User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="contact-form bg-light rounded p-5">
            <div id="success"></div>
            <h3 style="text-align:center;">LOGIN HERE</h3>
            <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                <div class="control-group">
                    <label>Email or username</label>
                    <input type="text" asp-for=username class="form-control"  placeholder="Email or username"/>
                    <span class="text text-danger" asp-validation-for=username></span>
                </div>
                <div class="control-group">
                    <label>Password</label>
                    <input type="password" asp-for=password class="form-control" placeholder="Password"/>
                    <span class="text text-danger" asp-validation-for=password></span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="is_admin" type="checkbox" value="true" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Admin
                    </label>
                </div>
                
                <br />
                <div>
                    <button class="btn btn-primary btn-block py-3 px-5" type="submit">LOGIN</button>
                </div>
            </form>
            <span class="text text-danger">@ViewBag.status</span>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}